<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charSet="utf-8" />
    <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:type"   content="website" />
    <meta property="og:url"    content="https://young-woodland-61835.herokuapp.com" />
    <meta property="og:title"  content="Drama Ćevapi" />
    <meta property="og:image"  content="https://young-woodland-61835.herokuapp.com/logo.png" />
    <meta property="og:description"
  content="Uživajte u najkvalitetnijim ćevapima kod nas.Drama ćevapi" />
    <meta httpEquiv="Content-Language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DRAMA Ćevapi</title>
    <style>
    #main {
      height: 100%;
    }
    .pswp-gallery {
      width: 1200px;
      display: flex;
    }

    .pswp-thumbnail {
      display: inline-block;
      margin: 0 10px 10px 0;
      cursor: pointer;
    }
    </style>
  </head>
  <body>
    <div id="main"></div>

</html>
