<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charSet="utf-8" />
    <meta property="og:type"   content="website" />
    <meta property="og:url"    content="https://young-woodland-61835.herokuapp.com" />
    <meta property="og:title"  content="Drama Ćevapi" />
    <meta property="og:image"  content="https://young-woodland-61835.herokuapp.com/share.jpg" />
    <meta property="og:description"
  content="Uživajte u najkvalitetnijim ćevapima kod nas.Drama ćevapi" />
    <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
    <meta httpEquiv="Content-Language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DRAMA Ćevapi</title>
    <style>
    #main {
      height: 100%;
    }
    .myHeight {
      height: 100%;
    }
    </style>
  </head>
  <body>
    <div id="main"></div>
    <script defer src="/vendor.js"></script>
    <script defer src="/browser.js"></script>
    <script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=159&amp;locationId=9874369&amp;lang=en_US&amp;rating=true&amp;nreviews=4&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=true&amp;border=false&amp;display_version=2"></script>
  </body>
</html>
