#novaGodina {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
}

@media screen and (max-width: 399px){
  #sneskoBijelic {
    position: absolute;
    top: 70%;
    left: 0;
    width: 40px;
  }

  #djedoMraz {
    position: absolute;
    top: 25%;
    right: 0;
    width: 40px;
  }
}
@media screen and (min-width: 400px) {
  #sneskoBijelic {
    position: absolute;
    top: 70%;
    left: 0;
    width: 120px;
  }

  #djedoMraz {
    position: absolute;
    top: 25%;
    right: 0;
    width: 140px;
  }
}
